[submodule "rtl/third_party/cva6"]
	path = rtl/third_party/cva6
	url = https://github.com/openhwgroup/cva6.git
[submodule "rtl/third_party/axi2apb"]
	path = rtl/third_party/axi2apb
	url = https://github.com/pulp-platform/axi2apb.git
[submodule "rtl/third_party/common_cells"]
	path = rtl/third_party/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "rtl/third_party/axi_slice"]
	path = rtl/third_party/axi_slice
	url = https://github.com/pulp-platform/axi_slice.git
[submodule "rtl/third_party/apb"]
	path = rtl/third_party/apb
	url = https://github.com/pulp-platform/apb.git
[submodule "rtl/third_party/apb_uart"]
	path = rtl/third_party/apb_uart
	url = https://github.com/pulp-platform/apb_uart.git
[submodule "rtl/third_party/axi"]
	path = rtl/third_party/axi
	url = https://github.com/pulp-platform/axi.git
